* {
  margin: 0;
  padding: 0;
}
body {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.header {
  width: 70vw;
}
#taskComplete {
  border: none;
}
.taskcard {
  transition: all 0.3s ease;
}

.taskcard.d-none {
  display: none !important;
}
